.customer-list {
  padding: 20px;

  .table-responsive {
    max-height: 70vh;
    overflow: auto;

    table {
      width: 100%;
      border-collapse: collapse;

      th,
      td {
        border: 1px solid var(--gray);
        padding: 8px;
        text-align: left;
        max-width: 200px;
        word-wrap: break-word;
        white-space: normal;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      th {
        background-color: var(--gray);
        font-weight: bold;
      }

      tr:hover {
        background-color: var(--gray);
      }
    }
  }
}
